<div {{ attributes }}>
    <strong>{{ this.randomNumber }}</strong>

    <button
        class="mt-2 px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition"
        data-action="live#$render"
    >
        Generate a new number!
    </button>
</div>

